{% include 'main/header.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container_prof">
    <h1>We are RedFox team.</h1>
    Сформировавшаяся культура потребления кофе и кофейных напитков в России позволила закрепиться на рынке такому
    формату заведений, как кофейни. Причем их формат разнообразен: от мини-форматов, к которым можно отнести киоски
    «кофе с собой» и фудтраки, до полноценных кофеен с собственной кухней, фишкой которых часто являются авторские
    блюда, сладости и выпечка.
</div>
</body>
</html>